.thank-you-box {
  border: solid #ccc9c9;
  padding: 20px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.information-container,
.summary-container {
  border: solid #ccc9c9;
  padding: 30px;
}
