.main-box {
  border: solid #ccc9c9;
  padding: 40px;
  display: flex;
  flex-direction: column;

  @media (width >600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}

.image-product-details {
  grid-area: 1 / 1 / 2 / 2;
}
.product-info {
  grid-area: 1 / 2 / 2 / 3;
}

.image-product-details {
  max-width: 556px;
  max-height: auto;
}

.color {
  height: 52px;
  width: 52px;
  background: #706548;
  border-radius: 50%;
  cursor: pointer;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color:hover {
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.size {
  font-size: 17px;
  border: 3px solid #ccc9c9;
  border-radius: 50%;
  color: #3c3a3a;
  padding: 15px;
  cursor: pointer;
}

.size:hover {
  border-style: solid;
  border-color: black;
}

.size-selector {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
