.shopping-cart-container {
  width: fit-content;
  height: fit-content;
  border-style: solid;
  border-color: #ccc9c9;
  padding: 20px;
}

.checkout-product-img {
  max-width: 105px;
  min-height: auto;
}

.item-number {
  border-bottom: solid #ccc9c9;
  padding: 20px 0 10px 0;
}

.in-cart {
  border-bottom: solid #ccc9c9;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 50px;
}

.shipping-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.total-box {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.checkout-continue {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}

.checkout {
  text-decoration: none;
  text-align: center;
  width: 100%;
  padding: 20px 15px;
  background-color: #66848a;
  border: none;
  border-radius: 17px;
  font-size: 20px;
  color: #fff;
  box-shadow: 5px 5px 25px -10px #000;
}

.continue {
  color: #000;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
