* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

h1,
h2,
body,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 27px;
  padding: 0 0 20px 0px;
}

h2 {
  font-size: 20px;
  padding: 0 0 20px 0;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

main {
  max-width: 1300px;
  margin: 0 auto;
}

/* HEADER */
.orange-header {
  background-color: #f6861e;
  max-width: 100%;
  margin-bottom: 30px;
  padding: 50px 50px 50px 175px;
}

.header-logo {
  max-width: 173px;
  max-height: 100%;

  @media (width > 600px) {
    max-width: 173px;
    max-height: 100%;
  }
}

/* NAVIGATION */
.homepage-nav {
  background-color: #0a3641;
  padding: 17px 21px;

  @media (width > 600px) {
    display: none;
  }
}

.homepage-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #0a3641;
}

.nav-icon {
  color: #fff;
  font-size: 20px;
}

.desktop-homepage-nav {
  display: none;

  @media (width >600px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
  }
}

.homepage-nav ul {
  @media (width >600px) {
    gap: 15px;
    margin: 0 50px;
  }
}

.homepage-nav {
  @media (width >600px) {
    text-decoration: none;
    display: flex;
    justify-content: end;
    padding: 10px;
    color: #fff;
    background-color: #0a3641;
  }
}

.homepage-nav a {
  text-decoration: none;
}

.mobile-icon {
  @media (width >600px) {
    display: none;
  }
}

/* BUTTONS */
.add-to-cart-button {
  font-size: 16px;
  background-color: #f6861e;
  color: #000000;
  border-color: transparent;
  border-radius: 17px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  box-shadow: 5px 5px 25px -10px #000;
}

/* FOOTER */
footer {
  width: 100%;
  height: 283px;
  background-color: #66848a;
  color: #fff;
}

footer p {
  color: #fff;
  font-size: 14;
  text-align: center;
  padding-top: 30px;
  margin-top: 40px;
}

.icons-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
