.thank-you-box {
  width: fit-content;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information-container,
.cart {
  border: solid #ccc9c9;
  padding: 30px;
}

.order-summary-p {
  font-size: 20px;
}
