.product-details-container {
  border: solid #ccc9c9;
  padding: 20px;
  justify-self: center;
  margin: 50px;
  display: flex;
  flex-direction: column;

  @media (width > 900px) {
    display: grid;
  }
}

.product-details {
  display: flex;
  flex-direction: column;

  @media (width > 900px) {
  }
}

.description-and-add-to-cart-btn {
  display: flex;
  flex-direction: column;
  text-align: right;

  @media (width > 900px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.product-details {
  grid-area: 1 / 1 / 2 / 2;
}
.description-and-add-to-cart-btn {
  grid-area: 1 / 2 / 2 / 3;
}

.product-details-title {
  padding-top: 20px;
  font-size: 20px;
}

.product-image {
  max-width: 550px;
  max-height: auto;
}
