.shopping-cart-container {
  max-width: fit-content;
  margin: 0 auto;
}

.checkout-continue {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
}

.continue {
  color: #000;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
