@import "./homepage.css";
@import "./frost-peak-details.css";
@import "./shopping-cart.css";
@import "./payment-details.css";
@import "./confirmation-page.css";
@import "./coming-soon.css";
@import "./products-page.css";

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
}

h1,
h2,
body,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 27px;
  padding: 0 0 20px 0px;
}

h2 {
  font-size: 20px;
  padding: 0 0 20px 0;
}

h3 {
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
}

/* HEADER */
.orange-header {
  background-color: #f6861e;
  max-width: 100%;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  max-width: 100px;
  max-height: 100%;

  @media (width > 900px) {
    max-width: 173px;
  }
}

/* NAVIGATION */
.homepage-nav {
  background-color: #0a3641;
  padding: 17px 21px;
  color: #fff;

  @media (width > 900px) {
    display: flex;
    justify-content: end;
  }
}

.homepage-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.nav-icon {
  color: #fff;
  font-size: 20px;
}

.desktop-homepage-nav {
  display: none;

  @media (width > 900px) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
  }
}

.homepage-nav a {
  text-decoration: none;
}

.nav-list-item .mobile-icon {
  @media (width > 900px) {
    display: none;
  }
}

/* FOOTER */
footer {
  width: 100%;
  height: 283px;
  background-color: #51757c;
  color: #fff;
}

footer p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
  margin-top: 40px;
}

.icons-footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* BUTTONS */
.cta {
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 17px;
  padding: 10px 20px 10px 20px;
  box-shadow: 5px 5px 25px -10px #000;
  border: none;
}

.add-to-cart-button {
  background-color: #f6861e;
  color: #000000;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  border: none;
}

.add-to-cart-button:hover {
  border: solid #000;
}

.add-to-cart-btn-added {
  border: solid #000;
}

.pay-now-button {
  width: 100%;
  padding: 20px 15px;
  background-color: #3b585e;

  font-size: 20px;
}

.checkout-button {
  width: 100%;
  padding: 20px 15px;
  background-color: #3b585e;

  font-size: 20px;
}

.sale-button {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;

  @media (width > 900px) {
    font-size: 38px;
  }
}

.submit-button {
  background-color: #0a3641;
  border-radius: 10px;
  width: 100%;
  padding: 5px 0;
  border: 0;
}

.add-remove-btn {
  background-color: white;
  color: #000;
  font-weight: 300;
  font-size: 20px;
  border: solid #ccc9c9;
  border-radius: 50px;
  width: 30px;
  height: 30px;
}

/*COMPONENTS */

.summary-container {
  border: solid #ccc9c9;
  padding: 20px;
  text-wrap: wrap;
}

.cart-image {
  max-width: 105px;
  min-height: auto;
}

.item-number {
  font-weight: 300;
  font-size: 20px;
  color: #1f1d1d;
}

.cart-item {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.cart-name-qty-price {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
  justify-content: end;
}

.product-price {
  text-align: right;
}

.product-price,
.card-discounted-price,
.product-title {
  color: #1f1d1d;
}

.summary-box {
  display: flex;
  justify-content: right;
  padding: 20px 0;
  border-top: solid #ccc9c9;
  color: #1f1d1d;
}

.cart-dropdown-container {
  position: relative;
}

.cart-dropdown .cart-item h4,
h4,
p {
  color: #1f1d1d;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.cart-toggle-btn {
  background: none;
  border: none;
}

.cart-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  background-color: white;
  border: 1px solid #ccc;
  width: max-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 1rem;
}

.cart-dropdown.hidden {
  display: none;
}

.cart-dropdown .checkout-continue {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.cart-dropdown .cta {
  display: block;
  margin-top: 1rem;
  background-color: #0a3641;
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem;
}

/*LOADING INDICATOR*/
.ball,
.ball2,
.ball3 {
  margin: 5px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  animation: bounce 1s ease-in-out infinite;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
